/* 在此撰寫此專案的CSS Style */

/* componment */

.bk_btn {
    text-align: center;
    display: block;
    color: rgba(190, 190, 190, 0.413);
    cursor: pointer;
}

.bk_btn_fix {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1049;
}