/* 在此撰寫此專案的CSS Style */


#black_1 {
    background-color: black;
    width: 100%;
    height: 300px;
}

#black_2 {
    background-color: rgb(41, 41, 41);
    width: 100%;
    height: 300px;
}

#black_3 {
    background-color: rgb(65, 65, 65);
    width: 100%;
    height: 300px;
}