/* 在此撰寫此專案的CSS Style */

/* Footer start */

.footer-row-style {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer {
    background-color: #18204B;
}

#COMPONENT_P {
    text-align: center;
}

.fontsize_p {
    font-size: 1rem;
    color: #ffffff;
}

/* Footer the end */