/* 在此撰寫此專案的CSS Style */

/* componment */

.navbar .logo {
    /* float: left;
    height: 24px; */
    /* border: 1px solid #000; */
}


/* Header start*/

.border_login {
    /* border-style: solid;
    border-color: #aaaaaa;
    border-width: 2px; */
    width: 240px;
    height: 320px;
    position: relative;
    left: 120px;
    top: 80px;
}

.slogan {
    position: absolute;
    left: 50px;
    top: 60px;
}

.btn_login {
    font-size: 0.8rem;
    color: #ffffff;
    text-align: center;
    width: 100px;
    height: 40px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(4, 47, 73);
    /* border-radius: 5px; */
    background-color: rgb(4, 47, 73);
    display: inline-block;
    box-shadow: 1px 1px 1px #aaaaaa;
}

.btn_login_loc {
    position: absolute;
    left: 65px;
    top: 220px;
    /* padding-top: 50px;
    padding-left: 60px; */
}



/* Header the end*/


/* #main_img {
    position: relative;
}

.title {
    position: absolute;
    left: 120px;
}

.btn_location {
    position: absolute;
    left: 700px;
    top: 100px;
} */


/* Body start */

.to_btn {
    text-align: center;
    display: block;
    /* height: 30px;
    width: 30px; */
    padding-left: 30px;
    /* margin-top: 380px; */
    padding-top: 20px;
    color: rgba(155, 155, 155, 0.653);
}

/* a:hover {
    color: rgba(141, 141, 141, 0.653);
    text-decoration: underline;
} */

.to_btn_2 {
    text-align: center;
    display: block;
    padding-left: 30px;
    /* padding-top: 10px; */
    color: rgba(155, 155, 155, 0.653);
}

.bk_btn {
    text-align: center;
    display: block;
    color: rgba(190, 190, 190, 0.413);
}

.bk_btn_fix {
    /* margin-left: 650px; */
    /* padding-top: 80px; */
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1049;
}

.logo {
    max-width: 150px !important;
}

.bg_navbar {
    /* background-color: #4971E0; */
    background-color: #ffffff;
}

.loc_pag {
    padding-right: 130px;
    margin-top: 10px;
}


/* Body the end */


/* Footer start */

.footer-row-style {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer {
    background-color: rgb(4, 47, 73);
}

/* Footer the end */